@layer reset, base, tokens, recipes, utilities;

h1 {
  all: revert;
  margin: 0;
}

h2 {
  all: revert;
  margin: 0;
}

h3 {
  all: revert;
  margin: 0;
}

ul {
  all: revert;
  margin: 0;
  padding: 0 0 0 20px;
}
