@layer reset, base, tokens, recipes, utilities;

h1 {
  all: revert;
  margin: 0;
}

h2 {
  all: revert;
  margin: 0;
}

h3 {
  all: revert;
  margin: 0;
}

ul {
  all: revert;
  margin: 0;
  padding: 0 0 0 20px;
}

ol {
  all: revert;
  margin: 0;
  padding: 0 0 0 20px;
}

blockquote {
  border-left: 4px solid #d3d3d3;
  background-color: #f7f7f7;
  padding: 12px 16px;
  margin: 16px 0;
  color: #555;
  border-radius: 4px;
}